# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Distribution / packaging
dist/
build/
*.egg-info/
*.egg
*.whl

# Virtual environments
.venv/
venv/
env/

# Poetry
poetry.lock

# Test / coverage
.coverage
.coverage.*
coverage.xml
htmlcov/
.pytest_cache/

# Type-checker
.mypy_cache/

# Linter
.ruff_cache/

# Environment variables
.env
.env.*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
